In [2]:
from typing import Optional

class Base():
    
    def _create(i: Optional[int] = None):
        return f'user_{i}'
    
    def create_one():
        new_one = Base._create(1)
        return new_one
    
    def create_many(how_many:int):
        list_of = []
        for i in range(how_many):
            one = Base._create(i)
            list_of.append(one)
        return list_of

In [74]:
aa = Base.create_one()

In [75]:
aa

'user_1'

In [76]:
bb = Base.create_many(5)

In [77]:
bb

['user_0', 'user_1', 'user_2', 'user_3', 'user_4']

In [7]:
class Company():

    def _create(i: Optional[int] = None):
        company = {}
        company['name'] = f'company_{i}'
        company['revenue'] = 1000 + i
        return company
    
    def create_one():
        new_one = Company._create(1)
        return new_one
    
    def create_many(how_many:int):
        list_of = []
        for i in range(how_many):
            one = Company._create(i)
            list_of.append(one)
        return list_of

In [10]:
companies = Company.create_many(10)

In [9]:
companies

[{'name': 'company_0', 'revenue': 1000},
 {'name': 'company_1', 'revenue': 1001},
 {'name': 'company_2', 'revenue': 1002},
 {'name': 'company_3', 'revenue': 1003},
 {'name': 'company_4', 'revenue': 1004},
 {'name': 'company_5', 'revenue': 1005},
 {'name': 'company_6', 'revenue': 1006},
 {'name': 'company_7', 'revenue': 1007},
 {'name': 'company_8', 'revenue': 1008},
 {'name': 'company_9', 'revenue': 1009}]

In [11]:
one_co = Company.create_one()

In [12]:
one_co

{'name': 'company_1', 'revenue': 1001}

In [17]:
from bldrdsh.db.models.models import Company

In [18]:
sqlalchemy_co = Company(name='test', revenue=1000)

In [20]:
sqlalchemy_co

Company(id=None, name='test', revenue=1000, employees=None, owner_id=None, phone=None, company_type=None)

In [27]:
sqlalchemy_co_from_create = Company(**one_co)

In [28]:
sqlalchemy_co_from_create

Company(id=None, name='company_1', revenue=1001, employees=None, owner_id=None, phone=None, company_type=None)

In [96]:
def remainder(number, divisor):
    return number / divisor

In [97]:
my_kwargs = {
    'number': 20,
    'divisor': 7,
}

In [98]:
remainder(**my_kwargs)

2.857142857142857