In [1]:
list_of_companies = [
    {'name': 'company_1', 'uuid': 'fb4060d1-e606-4d02-b3d5-a72317e1e41f'},
    {'name': 'company_2', 'uuid': '67743b3b-64c1-4316-be11-896eaaeaf44f'},
    {'name': 'company_3', 'uuid': '5f9a2a47-8b53-40e5-ab41-6818fdaf2506'},
    {'name': 'company_4', 'uuid': 'dd096b69-21d5-48b6-882e-f7dcf3610023'}
]

In [2]:
for i in list_of_companies:
    print(i.keys(), i.values(), {list(i.values())[0], list(i.values())[1]})

dict_keys(['name', 'uuid']) dict_values(['company_1', 'fb4060d1-e606-4d02-b3d5-a72317e1e41f']) {'fb4060d1-e606-4d02-b3d5-a72317e1e41f', 'company_1'}
dict_keys(['name', 'uuid']) dict_values(['company_2', '67743b3b-64c1-4316-be11-896eaaeaf44f']) {'company_2', '67743b3b-64c1-4316-be11-896eaaeaf44f'}
dict_keys(['name', 'uuid']) dict_values(['company_3', '5f9a2a47-8b53-40e5-ab41-6818fdaf2506']) {'company_3', '5f9a2a47-8b53-40e5-ab41-6818fdaf2506'}
dict_keys(['name', 'uuid']) dict_values(['company_4', 'dd096b69-21d5-48b6-882e-f7dcf3610023']) {'company_4', 'dd096b69-21d5-48b6-882e-f7dcf3610023'}

In [3]:
import pandas as pd

In [4]:
test_df = pd.DataFrame.from_dict(list_of_companies)

In [5]:
test_df

        name                                  uuid
0  company_1  fb4060d1-e606-4d02-b3d5-a72317e1e41f
1  company_2  67743b3b-64c1-4316-be11-896eaaeaf44f
2  company_3  5f9a2a47-8b53-40e5-ab41-6818fdaf2506
3  company_4  dd096b69-21d5-48b6-882e-f7dcf3610023

In [6]:
for i in test_df.iloc:
    print(i)

name                               company_1
uuid    fb4060d1-e606-4d02-b3d5-a72317e1e41f
Name: 0, dtype: object
name                               company_2
uuid    67743b3b-64c1-4316-be11-896eaaeaf44f
Name: 1, dtype: object
name                               company_3
uuid    5f9a2a47-8b53-40e5-ab41-6818fdaf2506
Name: 2, dtype: object
name                               company_4
uuid    dd096b69-21d5-48b6-882e-f7dcf3610023
Name: 3, dtype: object

In [7]:
test_df.iloc[0]['name'], test_df.iloc[0]['uuid']

('company_1', 'fb4060d1-e606-4d02-b3d5-a72317e1e41f')

In [8]:
from bldrdsh.db.models.models import CompanyModel, ContactModel

In [9]:
co_values = list_of_companies[0]

In [10]:
test_co = CompanyModel(**co_values)

In [11]:
test_co

Company(id=None, name='company_1', uuid=fb4060d1-e606-4d02-b3d5-a72317e1e41f, revenue=None, employees=None, owner_id=None, phone=None, company_type=None, contacts=[])

In [12]:
sqlalchemy_companies = []

In [13]:
for i in list_of_companies:
    sqlalchemy_companies.append(CompanyModel(**i))

In [14]:
sqlalchemy_companies

[Company(id=None, name='company_1', uuid=fb4060d1-e606-4d02-b3d5-a72317e1e41f, revenue=None, employees=None, owner_id=None, phone=None, company_type=None, contacts=[]),
 Company(id=None, name='company_2', uuid=67743b3b-64c1-4316-be11-896eaaeaf44f, revenue=None, employees=None, owner_id=None, phone=None, company_type=None, contacts=[]),
 Company(id=None, name='company_3', uuid=5f9a2a47-8b53-40e5-ab41-6818fdaf2506, revenue=None, employees=None, owner_id=None, phone=None, company_type=None, contacts=[]),
 Company(id=None, name='company_4', uuid=dd096b69-21d5-48b6-882e-f7dcf3610023, revenue=None, employees=None, owner_id=None, phone=None, company_type=None, contacts=[])]

In [15]:
sqlalchemy_company_01 = sqlalchemy_companies[0]

In [16]:
sqlalchemy_company_01.name, sqlalchemy_company_01.uuid

('company_1', 'fb4060d1-e606-4d02-b3d5-a72317e1e41f')

In [17]:
import random

In [18]:
import uuid

In [19]:
list_of_contacts = []
for i in sqlalchemy_companies:
    number_of_contacts = random.choice([1,2])
    for j in range(number_of_contacts):
        contact = {}
        contact['name'] = f'contact_{j}'
        contact['uuid'] = str(uuid.uuid4())
        contact['company_uuid'] = i.uuid
        
        sqlalchemy_contact = ContactModel(**contact)
        
        list_of_contacts.append(sqlalchemy_contact)

In [20]:
list_of_contacts

[Contact(id=None, name='contact_0', uuid='a71932e9-c84a-4c1e-bb7a-b0a85569ea5b', company_uuid='fb4060d1-e606-4d02-b3d5-a72317e1e41f', phone=None, company=None),
 Contact(id=None, name='contact_1', uuid='3f36f0b6-17db-4ce5-ba7a-0a71aab6f8c7', company_uuid='fb4060d1-e606-4d02-b3d5-a72317e1e41f', phone=None, company=None),
 Contact(id=None, name='contact_0', uuid='58e231d8-1de9-4f7d-8941-069a0c5a2a1b', company_uuid='67743b3b-64c1-4316-be11-896eaaeaf44f', phone=None, company=None),
 Contact(id=None, name='contact_0', uuid='935bfdbd-a8c2-44bb-af07-b2dfedde3c51', company_uuid='5f9a2a47-8b53-40e5-ab41-6818fdaf2506', phone=None, company=None),
 Contact(id=None, name='contact_0', uuid='98776e51-f1cd-4d90-b54b-d3c5a9fd9a94', company_uuid='dd096b69-21d5-48b6-882e-f7dcf3610023', phone=None, company=None),
 Contact(id=None, name='contact_1', uuid='6c204c68-a903-4848-8d58-9e4a77cb9aca', company_uuid='dd096b69-21d5-48b6-882e-f7dcf3610023', phone=None, company=None)]